<!DOCTYPE html>
<html lang="en">
  {{> header}}
  <body>
    {{> page_header}}
    <div id="body-container">
      <div id="body-content">
        {{> nav}}
        <section class="page container">
          <form class="form-horizontal">
            <div class="container">
              <div class="row">
                <div id="server-settings-row" class="span7">
                  <fieldset>
                    <legend>接警机参数</legend><br/>
                    <div class="control-group ">
                      <label class="control-label">接警机编号 </label>
                      <div class="controls">
                        <input id="reciver-number" type="number" class="span4" autocomplete="false"/>
                      </div>
                    </div>
                    <div id="multi-channels-type-setting" class="control-group ">
                      <label class="control-label">接警机工作通道设置<br/>(修改后需重新登录)</label>
                      <div class="controls">
                        <select id="multi-channels-type" class="span3">
			              <option id="type-single-serial" value="0">单通道串口模式</option>
			              <option id="type-single-tcp"    value="1">单通道网络模式</option>
			              <option id="type-multi-channel" value="2">多通道模式</option>
                        </select>
                        <p id="help" class="help-block"></p>
                      </div>
                    </div>

                    <div class="control-group ">
                      <label class="control-label">优先上传主机事件 </label>
                      <div class="controls">
                        <input id="panel-event-first" type="checkbox" class="switch span4"/>
                      </div>
                    </div>
                    <div class="control-group ">
                      <label class="control-label">记录上线/掉线事件 </label>
                      <div class="controls">
                        <input id="log-online-offline" type="checkbox" class="switch span4"/>
                      </div>
                    </div>

                    <div class="control-group ">
                      <label class="control-label">设备脱网认定时间(秒) </label>
                      <div class="controls">
                        <input id="confirm-offline-time" type="number" class="span4"  autocomplete="false"/>
                      </div>
                    </div>

                    <div class="control-group ">
                      <label class="control-label">中心连接心跳检测周期(秒) </label>
                      <div class="controls">
                        <input id="center-heartbeat-time" type="number" class="span4"  autocomplete="false"/>
                      </div>
                    </div>
                    
		            <div class="control-group ">
                      <label class="control-label">串口通道蜂鸣器监控</label>
                      <div class="controls">
                        <input id="monitor-beep-serial" type="checkbox" checked="checked" class="switch span4"/>
                      </div>
                    </div>
                    <div class="control-group ">
                      <label class="control-label">网络通道蜂鸣器监控</label>
                      <div class="controls">
                        <input id="monitor-beep-tcp" type="checkbox" checked="checked" class="switch span4"/>
                      </div>
                    </div>

		            <div class="control-group ">
                      <label class="control-label">接警机网络蜂鸣器监控</label>
                      <div class="controls">
                        <input id="monitor-beep-net" type="checkbox" checked="checked" class="switch span4"/>
                      </div>
                    </div>
                    <div class="control-group ">
                      <label class="control-label">遥控编程和反控使能</label>
                      <div class="controls">
                        <input id="remote-program-enabled" type="checkbox" checked="checked" class="switch span4"/>
                      </div>
                    </div>
                    <div class="control-group ">
                      <label class="control-label">允许保存反控密码</label>
                      <div class="controls">
                        <input id="remote-control-pwd-save-enabled" type="checkbox" checked="checked" class="switch span4"/>
                      </div>
                    </div>
                    <div class="control-group ">
                      <label class="control-label">启用连接白名单</label>
                      <div class="controls">
                        <input id="white-list-enabled" type="checkbox" class="switch span4"/>
                      </div>
                    </div>

                  </fieldset>
                </div>

                <div id="serial-channel-settings-row" class="span9">
                  <fieldset>
                    <legend>串口通道参数</legend><br/>
                    <div id="serial-baud-setting" class="control-group ">
                      <label class="control-label">串口通信速率<br/>(修改后需重新登录)</label>
                      <div class="controls">
                        <select id="serial-baud" class="span3">
			              <option value="1200"> 1200 </option>
			              <option value="2400"> 2400 </option>
			              <option value="4800"> 4800 </option>
                          <option value="9600"> 9600 </option>
                          <option value="19200"> 19200 </option>
                          <option value="38400"> 38400 </option>
                          <option value="57600"> 57600 </option>
                          <option value="115200"> 115200 </option>
                        </select>
                      </div>
                    </div>
                    <div id="serial-format-setting" class="control-group ">
                      <label class="control-label">串口通道通信协议</label>
                      <div class="controls">
                        <select id="serial-format" class="span3">
                          <option value="conwin" > 丛文扩展协议 </option>
                          <option value="685"> 标准685协议 </option>
                        </select>
                      </div>
                    </div>
                    <div id="report-event" class="control-group ">
                      <label class="control-label">模块上线/掉线时报告事件 </label>
                      <div class="controls">
                        <input id="report-event-online-offline"  type="checkbox" class="switch span4"/>
                      </div>
                    </div>
		            <div id="report-status" class="control-group">
                      <label class="control-label">模块上线/掉线时报告状态 </label>
                      <div class="controls">
                        <input id="report-status-online-offline"  type="checkbox" class="switch span4"/>
                      </div>
                    </div>
                    <div class="control-group ">
                      <label class="control-label">允许向设备发送控制命令 </label>
                      <div class="controls">
                        <input id="allow-control-device" type="checkbox" class="switch span4"/>
                      </div>
                    </div>
                  </fieldset>
                </div>
                <div id="tcp-channel-settings-row" class="span9">
                  <fieldset>
                    <legend>网络通道参数</legend><br/>
                    <div class="control-group ">
                      <label class="control-label">允许最大连接数 </label>
                      <div class="controls">
                        <input id="tcp-max-connections" type="number" class="span4"  autocomplete="false" disabled/>
                      </div>
                    </div>
                    <div class="control-group ">
                      <label class="control-label">绑定中心服务器 </label>
                      <div class="controls">
                        <input id="bind-connection-ip" type="checkbox" class="switch span4"/>
                      </div>
                    </div>
                    <div id="allow-connection-ip-setting" class="control-group ">
                      <label class="control-label">中心服务器IP地址 </label>
                      <div class="controls">
                        <input id="allow-connection-ip"  class="span4"  autocomplete="false"/>
                      </div>
                    </div>
                    <div id="tcp-format-setting" class="control-group ">
                      <label class="control-label">网络通道通信协议</label>
                      <div class="controls">
                        <select id="tcp-format" class="span3">
                          <option value="conwin" > 丛文扩展协议 </option>
                          <option value="685"> 标准685协议 </option>
                        </select>
                      </div>
                    </div>
                    <div id="tcp-report-event" class="control-group ">
                      <label class="control-label">模块上线/掉线时报告事件 </label>
                      <div class="controls">
                        <input id="tcp-report-event-online-offline"  type="checkbox" class="switch span4"/>
                      </div>
                    </div>
		            <div id="tcp-report-status" class="control-group">
                      <label class="control-label">模块上线/掉线时报告状态 </label>
                      <div class="controls">
                        <input id="tcp-report-status-online-offline"  type="checkbox" class="switch span4"/>
                      </div>
                    </div>
                    <div class="control-group ">
                      <label class="control-label">允许向设备发送控制命令 </label>
                      <div class="controls">
                        <input id="tcp-allow-control-device" type="checkbox" class="switch span4"/>
                      </div>
                    </div>
                  </fieldset>
                </div>
                <div id="server-settings-row" class="span7">
                  <fieldset>
                    <legend>网络端口设置(修改后需重新登录)</legend><br/>
                    <div class="control-group ">
                      <label class="control-label">管理界面端口 </label>
                      <div class="controls">
                        <input id="web-port" type="number" class="span4"  autocomplete="false"/>
                      </div>
                    </div>
                    <div id="tcp-server-port-setting" class="control-group ">
                      <label class="control-label">网络通道端口</label>
                      <div class="controls">
                        <input id="tcp-server-port" type="number"  class="span4" autocomplete="false"/>
                      </div>
                    </div>
                    <div class="control-group ">
                      <label class="control-label">遥控编程端口 </label>
                      <div class="controls">
                        <input id="remote-program-port" type="number" class="span4"  autocomplete="false"/>
                        <p class="help-block">(外网映射时,端口必须一致,不允许转换)</p>
                      </div>
                    </div>
                  </fieldset>
                </div>

                <div id="api-settings-row" class="span7">
                  <fieldset>
                    <legend>系统参数设置</legend><br/>
                    <div class="control-group ">
                      <label class="control-label">API访问密码 </label>
                      <div class="controls">
                        <input id="api-key" class="span4" value="" autocomplete="false"/>
                      </div>
                    </div>
                    <div class="control-group ">
                      <label class="control-label">系统时间 </label>
                      <div class="controls">
                        <input id="system-time" class="span4" value="" placeholder="2016-5-17 13:33:34" autocomplete="false"/>
                      </div>
                    </div>
                    <div class="control-group ">
                      <label class="control-label">允许通过API设置时间 </label>
                      <div class="controls">
                        <input id="api-allow-set-time" type="checkbox" class="switch span4"/>
                      </div>
                    </div>
                    <div class="control-group ">
                      <label class="control-label">允许通过API重启 </label>
                      <div class="controls">
                        <input id="api-allow-reboot" type="checkbox" class="switch span4"/>
                      </div>
                    </div>
                  </fieldset>
                </div>
              </div>
            </div>
          </form>
        </section>
      </div>
    </div>
    {{> footer}}
    <script src="../js-plugins/bootstrap/bootstrap-switch.js" type="text/javascript" ></script>
    <script type="text/javascript">
     $(function(){
         Date.prototype.format = function (fmt) {
             if (!fmt) { fmt = "yyyy-MM-dd hh:mm:ss"; }
             var o = {
                 "M+" : this.getMonth() + 1,                 //月份
                 "d+" : this.getDate(),                    //日
                 "h+" : this.getHours(),                   //小时
                 "m+" : this.getMinutes(),                 //分
                 "s+" : this.getSeconds(),                 //秒
                 "q+" : Math.floor((this.getMonth() + 3) / 3), //季度
                 "S"  : this.getMilliseconds()             //毫秒
             };
             if (/(y+)/.test(fmt)) {
                 fmt = fmt.replace(
                     RegExp.$1,
                     (this.getFullYear() + "").substr(4 - RegExp.$1.length));
             }
             for (var k in o)
                 if(new RegExp("("+ k +")").test(fmt))
                     fmt = fmt.replace(RegExp.$1, (RegExp.$1.length==1) ? (o[k]) : (("00"+ o[k]).substr((""+ o[k]).length)));
             return fmt;
         }

         function update_allow_connection_ip_display() {
             var bind_state = $("#bind-connection-ip").bootstrapSwitch("state");
             if (bind_state) {
                 $("#allow-connection-ip-setting").removeClass('hidden');
             } else {
                 $("#allow-connection-ip-setting").addClass('hidden');
             }
         };
         
         $("#bind-connection-ip").on('switchChange.bootstrapSwitch', function (e, state) {
             update_allow_connection_ip_display();
         });

         
         $("#report-event-online-offline").on('switchChange.bootstrapSwitch', function (e, state) {
             if (state == false) {
                 $("#report-status-online-offline").bootstrapSwitch("state", false);
             }
         });

         $("#tcp-report-event-online-offline").on('switchChange.bootstrapSwitch', function (e, state) {
             if (state == false) {
                 $("#tcp-report-status-online-offline").bootstrapSwitch("state", false);
             }
         });

         function update_serial_report_status_display() {
             var value = $("#serial-format").children('option:selected').val();
             if (value === "685") {
                 $("#report-status").removeClass("hidden");
             } else if (value === "conwin") {
                 $("#report-status").addClass("hidden");
             }
             if($("#report-event-online-offline").bootstrapSwitch("state") === false) {
                     $("#report-status-online-offline").bootstrapSwitch("state", false);
             }
         }

         function update_tcp_report_status_display() {
             var value = $("#tcp-format").children('option:selected').val();
             if (value === "685") {
                 $("#tcp-report-status").removeClass("hidden");
             } else if (value === "conwin") {
                 $("#tcp-report-status").addClass("hidden");
             }
             if($("#tcp-report-event-online-offline").bootstrapSwitch("state") === false) {
                     $("#tcp-report-status-online-offline").bootstrapSwitch("state", false);
             }
         }

         $("#serial-format").change(function () {
             update_serial_report_status_display();
         });

         $("#tcp-format").change(function () {
             update_tcp_report_status_display();
         });

         var helpStrs = [ "(接警机默认工作模式)",
                          "(仅网络通道工作)",
                          "(网络和串口,同时且独立工作)" ];
         
         function update_channel_setting_help_display() {
             var value = $("#multi-channels-type").children('option:selected').val();
             var index = parseInt(value);
             $("#help").text(helpStrs[index]);
         }

         $("#multi-channels-type").change(function () {
             update_channel_setting_help_display();
         });

         $.fn.bootstrapSwitch.defaults.size = 'small';
         $(".switch").bootstrapSwitch();
         var settings = {};
         $("#submit-confirm-button").click(function () {
             update_serial_report_status_display();
             update_tcp_report_status_display();

             var field;
             for (field in settings) {
                 if (settings.hasOwnProperty(field)) {
                     var value = settings[field];
                     var e = $("#" + field);
                     if (typeof value === 'boolean' && value !== undefined) {
                         settings[field] = e.bootstrapSwitch('state');
                     } else if (typeof value === 'number') {
                         settings[field] = parseInt(e.val(), 10);
                     } else {
                         settings[field] = e.val();
                     }
                 }
             }
             if (!confirm("确认保存?")) { return; };
             var s = JSON.stringify(settings);
             $.getJSON("/api/set-ipr?data=" + s)
              .done(function (data) {
                  if (data.result == "OK") {
                      window.onbeforeunload = null;
                      alert("配置保存成功.");
                  } else {
                      alert("配置保存失败:" + JSON.stringify(data));
                      return false;
                  }
              })
              .fail(function(textStatus, jqXHR, error ) {
                  alert("数据保存失败, 请重新保存.", error);
              });
             return true;
         });
         function on_data_changed() {
             window.onbeforeunload = on_exit;
         };
         function on_exit(e) {
             var e = e || window.event;
             // For IE and Firefox prior to version 4
             if (e) {
                 e.returnValue = '数据已修改';
             }
             // For Safari
             return '数据已修改';
         };

         $.getJSON("/api/get-ipr-settings", function (json) {
             $("#system-time").attr("placeholder", (new Date()).format());
             settings = json;
             var field;
             for (field in settings) {
                 if (settings.hasOwnProperty(field)) {
                     var value = settings[field];
                     var e = $("#" + field);
                     if (typeof value === 'boolean') {
                         if (value) {
                             e.bootstrapSwitch('state', true, true);
                         } else {
                             e.bootstrapSwitch('state', false, false);
                         }
                     } else {
                         e.val(value);
                     }
                     e.change(on_data_changed);
                 }
             }
             update_serial_report_status_display();
             update_tcp_report_status_display();
             update_channel_setting_help_display();
             update_allow_connection_ip_display();
         });
     });
    </script>
  </body>
</html>
