<div id="body-container">
  <div id="body-content">
    {{> nav}}
    <section class="page container">
      <form class="form-horizontal">
        <div class="container">
          <div class="row">
            <div id="server-settings-row" class="span10">
              <fieldset>
                <legend>系统日志</legend><br/>
                
                <div class="box  pattern-sandstone span13">
                  <div class="box-header">
                    <i class="icon-table"></i>
                    <h5>系统日志(最新100条)</h5>
                  </div>
                  <div class="box-content box-table">
                    <table class="table table-striped table-hover table-bordered tablesorter">
                      <thead>
                        <tr>
                          <th class="center span1">序号</th>
                          <th class="center span3">时间</th>
                          <th class="center span1">帐号</th>
                          <th class="center span2">ip</th>
                          <th class="center span1">端口</th>
                          <th class="center span7">内容</th>
                        </tr>
                      </thead>
                      <tbody id="system-log">                        
                      </tbody>
                    </table>
                  </div>
                </div>
              </fieldset>
            </div>
          </div>
        </div>
      </form>
    </section>
	
  </div>
</div>

{{#section 'js'}}
<script type="text/javascript">

 $(document).ready(function () {
     $('#session-list').tablesorter();
     $.getJSON("/api/get-sys-log")
      .done(function (result) {
          var list = $("#system-log");
          list.empty();
          for (var i = 0; i < result.length; i++) {
              if (!result[i]) { continue; };
              var t = result[i].split(";");
              var e = $("<tr>");
              e.append($("<td>").append(i));
              e.append($("<td>").append(t.shift()));
              e.append($("<td>").append(t.shift()));
              e.append($("<td>").append(t.shift()));
              e.append($("<td>").append(t.shift()));
              e.append($("<td>").append(t.join(";")));
              e.appendTo(list);
          };
          return;
      });
     $("#export-button").click(function () {
         window.open("/api/export-sys-log");
     });
 })
</script>
{{/section}}
