<div id="body-container">
    <div id="body-content">
        {{> nav}}
        <section class="page container">
            <form class="form-horizontal">
                <div class="container">
                    <div class="row">

                        <div class="layui-tab layui-tab-brief" lay-filter="storage-log">
                            <ul class="layui-tab-title">
                                <li class="layui-this">文件存储</li>
                                <li>图片存储</li>
                                <li>视频存储</li>
                                <li>录音存储</li>
                            </ul>
                            <div class="layui-tab-content" style="height: 100px;">
                                <div class="layui-tab-item layui-show">
                                    <div>
                                        文件名：
                                        <div class="layui-inline">
                                            <input class="layui-input" name="fname" autocomplete="off">
                                        </div>
                                        <button class="layui-btn" data-type="reload">搜索</button>
                                    </div>

                                    <table class="layui-table" lay-data="{height:600, url:'/api/get-data?type=file', cellMinWidth:80, page:true, limit:50, id:'file'}" lay-filter="test">
                                        <thead>
                                            <tr>
                                                <th lay-data="{field:'id', width:80, sort: true}">序号</th>
                                                <th lay-data="{field:'fname'}">文件名</th>
                                                <th lay-data="{field:'size', sort: true}">文件大小</th>
                                                <th lay-data="{field:'type'}">文件类型</th>
                                                <th lay-data="{field:'fid'}">文件ID</th>
                                                <th lay-data="{field:'download_count', sort: true}">下载次数</th>
                                                <th lay-data="{field:'t_upload', sort: true}">上传时间</th>
                                                <th lay-data="{field:'t_expire'}">过期时间</th>
                                                <th lay-data="{fixed: 'right', align:'center', toolbar: '#barDemo'}">操作</th>
                                            </tr>
                                        </thead>
                                    </table>
                                    <script type="text/html" id="barDemo">
                                        <a class="layui-btn layui-btn-xs" lay-event="edit">下载</a>
                                        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
                                    </script>
                                </div>

                                <div class="layui-tab-item">
                                    <table class="layui-hide" id="table-file" lay-filter="table-file"></table>
                                    <div id="page-picture"></div>
                                </div>

                                <div class="layui-tab-item">
                                    <table class="layui-hide" id="table-file" lay-filter="table-file"></table>
                                    <div id="page-video"></div>
                                </div>

                                <div class="layui-tab-item">
                                    <table class="layui-hide" id="table-file" lay-filter="table-file"></table>
                                    <div id="page-audio"></div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </section>

    </div>
</div>

{{#section 'js'}}
<script type="text/javascript" src="/layui/layui.js"></script>
<script type="text/javascript">
    layui.config({
        base: "js/"
    }).use(['table', 'laypage', 'form', 'layer', 'element', 'jquery'], function() {
        var form = layui.form;
        var layer = layui.layer;
        var element = layui.element;
        var table = layui.table;
        var laypage = layui.laypage;
        $ = layui.jquery;

        form.render();

        //执行一个laypage实例
        function renderPage(id, count) {
            laypage.render({
                elem: id,
                count: 50,
                limits: 100
            });
        }

        renderPage("page-file", 50);


        element.on('tab(storage-log)', function(ele) {
            var index = ele.index;
            var type = ["file", "picture", "video", "audio"];

            /*
            var url = "/api/get-data?type=" + type[index];
            $.getJSON(url, function(json) {
                console.log(json);
            });
            */
        });
    });
</script>
{{/section}}