.layui-input-block {
    width: 50%;
}

body {
    background-color: white
}

.layui-table thead tr th {
    text-align: center;
}

.layui-table tbody tr td {
    text-align: center;
}

.layui-collapse {
    margin-top: 10px;
    margin-left: 1%;
}

.layui-tab {
    margin-top: 1%;
    margin-left: 1%;
    margin-right: 1%
}

.layui-tree-skin-groupskin .layui-tree-branch {
    color: #EDCA50;
}

.layui-colla-title {
    font-size: 16px
}